.bg-blue {
    background: #0894ec;
}

.bg-orange {
    background: orange
}

.app-color-tips {
    width: 2px;
    height: .85rem;
}

.app-bar-menu {
    position: static;
    background-color: #fff;
    padding-bottom: .5rem;
    height: auto;
    transition-duration: initial;
}

.app-subtitle.list-block .item-content {
    min-height: 1.8rem;
}

.app-subtitle.list-block .item-media+.item-inner {
    margin-left: 2px;
}

.app-subtitle.list-block .item-inner {
    padding-bottom: 0;
    padding-top: 0;
    min-height: 1.8rem;
}