#infoPublish .bar-header-secondary ~ .content {
    top: 2.8rem;
}

/*#infoPublish .buttons-tab>a {
    margin: 0 3.5rem;
}*/

.app-list-panel .card-link {
    margin: .5rem 0 0 0;
    display: block;
    color: #6d6d72;
}

.app-list-panel .card-link:first-child {
    margin: 0;
}

.app-list-panel .card-header {
    padding: .25rem;
    min-height: 1rem;
}

.app-list-panel .card-header .iconfont {
    font-size: .85rem;
}

.app-list-panel .card-content-inner {
    padding: .6rem;
}

a.card-link:link .card-content-inner {
    color: #333333;
}

a.card-link:visited {
    color: #A5A5A5;
}