<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的待办</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <script type="text/javascript" src="../../resources/boot.js"></script>
</head>

<body style="display: none;">
    <div class="page" id="mystandby">
        <header class="bar bar-nav bg-blue b-b-none">
            <button class="app-btn-back button button-link button-nav pull-left color-white">
                <span class="icon icon-left"></span>
            </button>
            <h1 class="title text-white">我的待办</h1>
        </header>
        <div class="buttons-tab bar-header-secondary">
            <a href="#all" class="tab-link active button">全部</a>
            <a href="#nosee" class="tab-link button">未看</a>
            <a href="#saw" class="tab-link button">已看</a>
            <a href="#star" class="tab-link button">标星</a>
            <a href="#invert" class="tab-link button">倒序</a>
        </div>
        <div class="bar bar-header-third b-b-none">
            <div class="searchbar p-l-xxs p-r-xxs">
                <a class="searchbar-cancel">删除</a>
                <div class="search-input">
                    <label class="icon icon-search" for="search"></label>
                    <input type="search" placeholder="搜索" />
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-block m-t-none m-b-none p-l-none p-r-none">
                <div class="tabs">
                    <div id="all" class="tab active">
                        <div class="app-list-panel">
                            <mystandbymessage v-for="item in msgList" :details="item"></mystandbymessage>
                        </div>
                    </div>
                    <div id="nosee" class="tab">
                        <div class="app-list-panel">
                            <mystandbymessage v-for="item in msgList" :details="item"></mystandbymessage>
                        </div>
                    </div>
                    <div id="saw" class="tab">
                        <div class="app-list-panel">
                            <mystandbymessage v-for="item in msgList" :details="item"></mystandbymessage>
                        </div>
                    </div>
                    <div id="star" class="tab">
                        <div class="app-list-panel">
                            <mystandbymessage v-for="item in msgList" :details="item"></mystandbymessage>
                        </div>
                    </div>
                    <div id="invert" class="tab">
                        <div class="app-list-panel">
                            <mystandbymessage v-for="item in msgList" :details="item"></mystandbymessage>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>