#roomBook .list-block .item-link .item-inner {
    background-position: calc(100% - .15rem) center;
}

#roomBook .list-block .item-inner {
    padding-right: 1rem;
}

#roomBook a.button {
    height: 2rem;
    line-height: 2rem;
    margin: 2rem 0.5rem 0;
}

#roomBook input {
    border: none;
    text-align: right;
}







.modal .icon-cha {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.modal h3 {
    font-weight: normal;
    color: #000;
    border-bottom: 1px solid #eee;
}
.modal-inner {
    padding: 1.2rem;
}

.modal-inner .icon-dui:before {
    padding-right: 0.5rem;
    color: #3AD33B;
}

.book-tip-list {
    padding: 0.75rem 1.5rem;
}









