
#contactsIndex {

}

#contactsIndex .searchbar{
    height: 2.6rem;
}
#contactsIndex .search-input input {
    height: 2rem;
    border-radius: 0;
}
#contactsIndex .bar .searchbar {
    padding: .5rem 0.35rem; 
}

#contactsIndex .bar-header-secondary ~ .content {
    top: 5rem;
}

#contactsIndex .list-block .list-group-title {
    background-color: #EFEFF4;
}

#contactsIndex .contact-list>a {
    display: block;
    margin: 0 .25rem;
    padding: 0.6rem 1rem;
}

#contactsIndex .contact-list+.contact-list > a {
    border-top: 1px solid #F5F5F5;
}
#contactsIndex .list-name {

}
#contactsIndex .list-info {
    color: #666;
}


#contactsIndex .common-list-group-title {
    position: relative;
    max-width: 100%;
    padding: .2rem .75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #EFEFF4;

    position: -webkit-sticky;
    position: -moz-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
    margin-top: 0;
    border-top: 0;
    border-right: 0;
}