.bg-blue {
    background: #0894ec;
}

.bg-orange {
    background: orange;
}

.bg-deeppink {
    background: deeppink;
}

.bg-springgreen {
    background: springgreen;
}

.bg-gray {
    background: gray
}

.color-red {
    color: red !important;
}

.color-limegreen {
    color: limegreen
}

.color-cadetblue {
    color: cadetblue
}

.color-springgreen {
    color: springgreen
}

.color-darkorange {
    color: darkorange
}

.color-gold {
    color: gold
}

.color-white,
.bar .button-link.color-white {
    color: #fff;
}

.dot:before {
    padding: 0 .15rem;
    color: #f00;
    content: '\2022';
}

.badge-dot:after {
    position: absolute;
    top: 0;
    right: 0;
    height: .35rem;
    width: .35rem;
    border-radius: 100%;
    background: #f00;
    z-index: 10;
    content: '';
}

.iconfont {
    font-size: inherit;
}

.content-nav-bottom {
    bottom: 2.5rem;
}

table {
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    border-bottom: 1px solid #ccc;
}

table tr:last-child {
    border-bottom: 0;
}

table td {
    border-left: 1px solid #ccc;
    text-align: left;
    vertical-align: middle;
    padding: .25rem;
}

table tr:first-child {
    border-left: 0;
}