
#checkingIndex .picker-calendar-day.picker-calendar-day-selected span {
    background: #F29A52;
}

#checkingIndex .picker-calendar-row, #checkingIndex .picker-calendar-months {
    border: none;
}

#checkingIndex .picker-calendar-day, #checkingIndex #calendar .picker-calendar-week-day {
    border-bottom: 1px solid #EFEFEF;
}
#checkingIndex #calendar .picker-calendar-week-day {
    border-top: 1px solid #EFEFEF;
}

#checkingIndex .picker-calendar-row .picker-calendar-day, #checkingIndex #calendar .picker-calendar-week-day {
    border-right: 1px solid #EFEFEF;
}
#checkingIndex .picker-calendar-row .picker-calendar-day:last-child, #checkingIndex #calendar .picker-calendar-week-day:last-child {
    border-right: none;
}


#checkingIndex .picker-calendar-week-days{
    height: 1.4rem;
}
#checkingIndex .picker-calendar-week-day {
    height: 1.4rem;
    line-height: 1.4rem;
}

#checkingIndex .picker-calendar-row {
    height: 1.8rem;
}
#checkingIndex .picker-calendar-row .picker-calendar-day {
    height: 1.8rem;
    line-height: 1.8rem;
}

#checkingIndex .picker-modal-inner{
    height: 12.2rem;
}

#checkingIndex .picker-calendar {
    height: 14.3rem;
}

#checkingIndex .list-block .item-media + .item-inner {
    margin-left: .35rem;
}

#checkingIndex .item-media .iconfont {
    color: #9DC6F2;
}

/*考勤异常样式*/
#checkingIndex .abnormal {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #F29A52;
    color: #fff;
}